<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    {% block css %}{% endblock css %}
    {% block js %}{% endblock js %}
    {% block title %}{% endblock title %}
</head>
<body>
    <nav>
        <a href="{% url 'add-a-book' %}" {% if request.url == url %} class="active" {% endif %}>Add Book</a>

        <a href="{% url 'all' %}" {% if request.url == url %} class="active" {% endif %}>All Books</a>

        <a href="{% url 'add-a-film' %}" {% if request.url == url %} class="active" {% endif %}>Add Film</a>

        <a href="{% url 'all-films' %}" {% if request.url == url %} class="active" {% endif %}>All Films</a>

    </nav>
    {% block content %}{% endblock content %}
</body>