* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
label {
    display: none;
}
main {
    margin: 15px;
}

input, textarea {
    width: 100%;
    padding: 15px 10px;
}

button {
   
    width: 100%;
    padding: 15px 10px;
    -webkit-appearance: none;
}

h1 {
    font-size: 27px;
    text-align: center;
}
